body{
    overflow-y: scroll;
}

  ::-webkit-scrollbar {
    width: 16px;
    z-index: 1000;
    overflow:overlay;
  }

  ::-webkit-scrollbar-thumb{
    background-clip: padding-box;
    border-radius: 16px;
    border: 4px solid transparent;
    background-color: rgba(255, 255, 255, 0.5);
    cursor: pointer;
    -webkit-transition: background-color 0.1s ease;
    transition: background-color 0.1s ease;
  }

  ::-webkit-scrollbar-track{
      background-color:rgb(38,153,251);
  }
  
  button{
      cursor: pointer;
  }