@import '../../components/theme/theme.scss';


.footerGrid{
    background-color: $light-blue;
    display: grid;
    grid-template-columns: 1fr 0.5fr 0.5fr 1fr;
    justify-items: center;
    align-items: center;
    justify-content: center;
    align-content: center;
    gap: 8px;
    width: 100%;
    margin: auto;
    margin-top: 15%;
    position: relative;
    bottom:0;

    div{
        .sideways{
            width: fit-content;
            font-size: 0.9rem;
            transform: translateX(-60px) translateY(75px)rotate(-90deg);
            margin-left: -5%;
            margin-top: 6%;
            padding: 3px;
        }

        a{
            text-decoration: none;
            display: block;
            color: $blue;
            font-size: 1.2rem;
        }
    
        .text{
            color: $blue;
            font-size: 1.2rem;
        }
    }
}

@media screen and (max-width: 1000px){

    .footerGrid{
        display: grid;
        grid-template-columns: 1fr;
        justify-items: center;
        align-items: start;
        justify-content: start;
    
        div{
            .sideways{
                width: 80px;
                font-size: 0.9rem;
                transform: translateX(-60px) translateY(75px) rotate(-90deg);
                margin-left: 0%;
                margin-top: 6%;
                padding: 3px;
                }   
            
                .text{
                    color: $blue;
                    font-size: 1rem;
                }
            }

    }
}