$theme-dark: rgb(52,58,52);
$theme-light: rgb(240,246,240);

$theme-color: rgb(120,120,235);
$theme-color-light: rgb(150,150,250);
$theme-color-dark: rgb(60, 80, 140);

$alert-green: rgb(50,210,50);
$alert-green-dark: rgb(20,180,20);
$alert-red: rgb(200,40,40);
$alert-red-dark: rgb(180,36,36);

$font-color-light: white;
$font-color-dark: black;

// use these colors instead
$white: rgb(255,255,255);
$light-blue: rgb(241,249,255);
$mid-blue: rgb(188,224,253);
$blue: rgb(127,196,253);
$dark-blue: rgb(38,153,251);

$margin: 8px;
$padding: 8px;

$font-title: 3.5rem;
$font-subheader: 3rem;
$font-quote: italic;
$font-large: 4rem;
$font-body: 1rem;
$font-button: 0.9rem;
