$theme-dark: rgb(52,58,52);
$theme-light: rgb(240,246,240);

$theme-color: rgb(120,120,235);
$theme-color-light: rgb(150,150,250);
$theme-color-dark: rgb(60, 80, 140);

$alert-green: rgb(50,210,50);
$alert-green-dark: rgb(20,180,20);
$alert-red: rgb(200,40,40);
$alert-red-dark: rgb(180,36,36);

$font-color-light: white;
$font-color-dark: black;

// use these colors instead
$white: rgb(255,255,255);
$light-blue: rgb(241,249,255);
$mid-blue: rgb(188,224,253);
$blue: rgb(127,196,253);
$dark-blue: rgb(38,153,251);

$margin: 8px;
$padding: 8px;

$font-headline: 20pt;
$font-title: 30pt;
$font-subheader: 20pt;
$font-quote: italic 20pt;
$font-large-body: bold 20pt;
$font-body: 14pt;
$font-secondary-body: 12pt;
$font-placeholder: italic 12pt;
$font-button: 10pt;

$font-size-s: 0.9rem;
$font-size-m: 1.1rem;
$font-size-l: 1.3rem;