@import "../theme/theme.scss";

.loginform{

    width: auto;
    margin: auto;

    h4{
        text-align: start;
        margin-top:$margin;
        margin-bottom: $margin;
        font-size: 1.5rem;
    }
    label{
        display:block;
        font-weight: 500;
    }
    input{
        width: 75%;
        display: block;
        height: auto;
        padding: 8px;
        border-radius: 4px;
        text-align: left;
        text-decoration: none;
        transition: all 0.2s ease;
        margin:auto;
        margin-top:2%;
        margin-bottom:5%;
    }
    input:focus{
        outline: none;
        border: solid 1px $theme-color;
    }

    button{
        width:auto;
        height:40px;
        border:none;
        font-size: 1rem;
        padding: 6px 32px;
        color:white;
        border-radius: 4px;
        transition: all 0.4s ease;
    }
    .loginbtn{
        background-color: $blue;
    }
    .loginbtn:hover{
        background-color: $light-blue;
        color:$blue;
    }
    .logoutbtn{
        background-color: $blue;
    }
    .logoutbtn:hover{
        background-color: $light-blue;
        color:$blue;
    }

    button:hover{
        background-color: $light-blue;
        color:$blue;
    }
    button:focus{
        border:none;
        outline:none;
    }
}

.red{
    border: solid 1px $light-blue;
}

.green{
    border: solid 1px $dark-blue;
}

.required{
    color:red;
    font-size: 1.2rem;
    opacity: 1;
    background: rgba(0,0,0,0);
}

.reqhidden{
    font-size: 1.2rem;
    opacity: 0;
}

@media screen and (max-width: 992px) {
    .loginform{
        margin-top:25%;
        width:85%;
        margin-bottom:75%;
    }
}